.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centered{
  align-content: center;
}

.navbar{
  min-height: 1350px;
  background-color: #F7F9FA;
  margin-left: -30px;
  width: 100%;
}

.file-upload{
  width: 100%;
  float: right;
}

.btn-circle.btn-block {
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
  border: none;
  background-image: url("dropbox.png");
  background-position: center;
}

body { overflow-x: hidden;}

.btn-lg{
  width: 100%;
}

.btn-star{
  border: none;
}

.btn{
  white-space:normal;
  /*word-wrap: break-word;*/
}

.form1{
  border-radius: 1rem;
  border-color: lightblue;
  width: 300%;
}

.btn-logo.btn-block {
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
  border: none;
  background-image: url("logo2.png");
  background-position: center;
}
